body {
  background-color: rgb(56, 0, 70);
  width: 600px;
  padding: 50px 0;
  margin: 25px auto;
  border-radius: 10px;
  text-align: center;
  font-family: cursive;
  color: rgb(249, 255, 191);
}

h1 {
  margin-bottom: 5px;
  font-size: 70px;
}
p {
  margin-bottom: 35px;
}

img {
  margin: 25px 0;
}

.quote {
  font-style: italic;
  font-size: 18px;
}

input {
  font-size: 16px;
  padding: 5px;
}

button {
  background-color: rgb(249, 255, 191);
  color: rgb(56, 0, 70);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(239, 255, 92);
}
